<launch>
  <node pkg="dynamic_static_pkg" type="dynamic_static_classifier" name="dynamic_static_classifier">
    <param name="v_thresh" value="0.06" /> 
    <!-- 객체 속도를 동적으로 판단하는 임계값 -->
    <!--임계값을 낮추면. 더 느리게 움직이는(속도가 작은) 객체도 speed > v_thresh_ 조건을 만족하게 되어 ‘동적(dynamic)’으로 분류-->
    <!--임계값을 높이면 빠른 객체만 ‘동적’으로 인식-->
    <!--GNSS나 센서 떨림으로 속도값이 시시각각 변화한다면, 임계값을 너무 낮게 두면 “노이즈 → 동적”으로 오인식이 많아짐-->
  </node>
</launch>