<launch>
  <node pkg="dynamic_static_pkg" type="dynamic_static_classifier" name="dynamic_static_classifier" output="screen" >
    <param name="vy_thresh" value="0.05" /> 
    <param name="steering_angle_threshold" value="10.0" /> 
    <param name="rosconsole_logger_level" value="info"/>
    <param name="roi_x_min" value="0.0" />
    <param name="roi_x_max" value="7.0" />
    <param name="roi_y_min" value="-3.0" />
    <param name="roi_y_max" value="3.0" />
  </node>
</launch>