<launch>
    <param name="/use_sim_time" value="false" />

    <!-- yaw_init 인자 설정 (기본값 0) -->
    <arg name="yaw_init" default="0" />
    <param name="yaw_init" value="$(arg yaw_init)" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/launch/test.rviz" />

    <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen"/>
    <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen"/>
    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen">
      <param name="yaw_init" value="$(arg yaw_init)" />
    </node>

    <node pkg="lego_loam" type="yaw_text_marker"   name="yaw_text_marker"    output="screen">
      <!-- 원하는 글꼴 색·정밀도 파라미터 예시 -->
      <param name="precision" value="4"/>
      <param name="color_r"  value="1.0"/>
      <param name="color_g"  value="1.0"/>
      <param name="color_b"  value="2.0"/>
    </node>

    <node pkg="lego_loam" type="yaw_corrector" name="yaw_corrector" output="screen"/>
</launch>